.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
webview/node_modules
docs
.idea
dist/bundle-stats.json
dist/test
webview/**
reset-data.js
tsconfig.build.json
webpack.test.config.js